#footer{
    .bg{
        margin-bottom: 0;
        img{
            height: auto;
        }
    }
   .bottom{
    padding: 20px 15px;
    text-align: center;
    font-family: $myFont;
    width: 100%;
    span{
        color: #fff;
        font-size: 15px;
    }
   }
}