body {
  background-color: #151A27;
  overflow-y: hidden;
}

.body-quiz {
  width: 100%;
  color: #ffffff;
}
.body-quiz .LeftMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}
.body-quiz .LeftMenu ul {
  margin: 10px 0;
  background-color: #21283B;
  align-items: start;
  flex-direction: column;
  padding: 20px 50px;
  border-radius: 10px;
}
.body-quiz .LeftMenu ul .dropped {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.body-quiz .LeftMenu ul .dropped .dropped-item {
  display: none;
  padding: 0;
}
.body-quiz .LeftMenu ul .dropped .dropped-item li a {
  color: #888;
  font-size: 1rem;
  padding: 10px;
}
.body-quiz .LeftMenu ul .dropped .dropped-item li:hover a {
  color: #fff;
}
.body-quiz .LeftMenu ul li {
  padding: 10px 0;
}
.body-quiz .LeftMenu ul li:hover a {
  color: #088DCD;
}
.body-quiz .LeftMenu ul li a {
  color: #BCBCBC;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}
.body-quiz .LeftMenu ul li .tag {
  font-size: 0.8rem;
  background-color: green;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 500;
}
.body-quiz .LeftMenu ul li span {
  color: #BCBCBC;
}
.body-quiz .LeftMenu ul button {
  padding: 8px 18px;
  background-color: yellow;
  border-radius: 30px;
  border: none;
  position: relative;
  overflow: hidden;
}
.body-quiz .LeftMenu ul button a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.body-quiz .LeftMenu ul button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 200px;
  background-color: #98cb46;
  transform: translateY(-45%) skew(25deg) scale(0);
  transition: 0.3s ease-in-out;
}
.body-quiz .LeftMenu ul button:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  width: 115%;
  height: 200px;
  background-color: #27304B;
  transform: translateY(-55%) skew(20deg) scale(1);
  color: #fff;
  border-radius: 3px;
}
.body-quiz .LeftMenu ul button:hover a {
  color: #fff;
}
.body-quiz .myQuiz {
  background-color: #1D2333;
  box-shadow: rgba(156, 152, 152, 0.3) 0px 30px 60px -12px inset, rgba(156, 152, 152, 0.3) 0px 18px 36px -18px inset;
}
.body-quiz .myQuiz .quizUp {
  text-align: center;
  padding: 15px 0;
}
.body-quiz .myQuiz .quizUp button {
  border: none;
  background-color: #151a27;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
}
.body-quiz .myQuiz #quizCenter .question h3 {
  font-size: 22px;
}
.body-quiz .myQuiz #quizCenter .answers label {
  font-size: 16px;
}
.body-quiz .myQuiz #quizCenter {
  padding-left: 40px;
}
.body-quiz .myQuiz .quizBottom {
  display: none;
  text-align: center;
}
.body-quiz .myQuiz .quizBottom #submit {
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #088dcd;
  margin: 15px 0;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}
.body-quiz .myQuiz .quizBottom #submit:hover {
  background-color: #ffffff;
  border-color: #088dcd;
  color: #088dcd;
}
.body-quiz .myQuiz .quizBottom.myActive {
  display: block;
}/*# sourceMappingURL=index1.css.map */